<div class="row">
  <div class="col-3"></div>
  <div class="justify-content-center bg w-50 border-main shadow">
    <h3 class="text-warning p-5">
      Thêm mới vị trí đỗ
    </h3>
    <form *ngIf="addParkingLotForm" [formGroup]="addParkingLotForm" (ngSubmit)="addParkingLot()" class="text-light">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 text-right">
              Tầng
            </div>
            <div class="col-8">
              <label>
                <select formControlName="idFloor" (change)="switchFloor($event.target.value)">
                  <option *ngFor="let floor of listFloor" value="{{floor.id}}">{{floor.name}}</option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 text-right">
              Vị trí
            </div>
            <div class="col-8">
              <label>
                <select formControlName="idZone">
                  <option *ngFor="let zone of listZoneShow" value="{{zone.id}}">{{zone.name}}</option>
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 mb-3">
          <div class="row">
            <div class="col-4">Loại xe cho phép:</div>
            <div class="col-8">
              <div class="row">
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> 4 chỗ
                </div>
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> bán tải
                </div>
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> tải 500kg
                </div>
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> 7 chỗ
                </div>
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> 9 chỗ
                </div>
                <div class="col-4"><label>
                  <input class="box" type="checkbox">
                </label> khác
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <button class="btn btn-outline-info custom">Thêm mới</button>
        <button [routerLink]="['../listParkingLot']" class="btn btn-outline-danger custom ml-5">Trở về quản lí</button>
        <button [routerLink]="['../parkingMap']" class="btn btn-outline-danger custom ml-5">Trở về bản đồ</button>
      </div>
    </form>
    <div class="text-center">
      <h6 class="text-success">{{message}}</h6>
    </div>
  </div>
</div>
