<div class="container-fluid m-auto ">
  <div class="row mt-10 ml-5">
    <div class="col-12">
      <form [formGroup]="checkDate" (ngSubmit)="onSubmit()">

        <label>Ngày bắt đầu : </label>
        <input type="date" formControlName="dateStart">


        <label class="ml-5">Ngày kết thúc : </label>
        <input type="date" formControlName="dateEnd">


        <button class="btn btn-primary ml-5" type="submit">Cập nhật</button>
        <button class="btn btn-primary" (click)="exit()">Đóng</button>
      </form>

    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md-10 mt-5 ml-5 mb-5 left">

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6" [hidden]="this.dateTotal.length === 0">
          <google-chart #chart
                        [title]="title"
                        [type]="type"
                        [data]="data"
                        [options]="options"
                        [width]="width"
                        [height]="height">
          </google-chart>
        </div>
      </div>


    </div>
  </div>
</div>
