<div class="container-fluid m-auto ">
  <div class="row mt-10 ml-5">
    <form [formGroup]="checkDate" (ngSubmit)="onSubmit()">
    <div class="">
      <label>Ngày bắt đầu : </label>
      <input type="date" formControlName="dateStart" >
    </div>
    <div class="">
      <label>Ngày kết thúc : </label>
      <input type="date" formControlName="dateEnd" >
    </div>

    <div class="">
      <button class="btn btn-primary" type="submit">Cập nhật</button>
      <button class="btn btn-primary" type="submit">Đóng</button>
    </div>
    </form>
  </div>

  <hr>

  <div class="row">

    <div class="col-md-8 mt-5 ml-5 mb-5 left">

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <google-chart #chart
                        [title]="title"
                        [type]="type"
                        [data]="data"
                        [options]="options"
                        [width]="width"
                        [height]="height">
          </google-chart>
        </div>
      </div>



    </div>
  </div>
</div>
