<div class="row">
  <div class="col-12">
    <div class="row d-flex m-3">
      <div class="col-5">
        <button class="btn btn-info h-75" [routerLink]="['../listParkingLot']">Quay lại danh sách bãi đỗ</button>
      </div>
      <div class="col-6 ml-5">
        <label>
          <select class="btn btn-warning" (change)="prepare($event.target.value)">
            <option class="bg-light text-dark" *ngFor="let floor of floorList"
                    value="{{floor.id}}">{{floor.name}}</option>
          </select>
        </label>
        <button class="btn btn-secondary h-75" [routerLink]="['../addParkingLot']">Thêm vị trí mới</button>
        <button class="btn btn-secondary h-75" data-toggle="modal" data-target="#editModal" data-backdrop="false">Chỉnh sửa bản đồ</button>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <canvas #canvas width="{{scrWidth}}" height="{{scrHeight}}">
        </canvas>
      </div>
    </div>
  </div>
</div>

<button id="view" hidden data-toggle="modal" data-target="#viewModal"></button>

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="viewModalLabel">Thông tin vị trí đỗ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">
          <div class="row">
            <div class="col-6">
              <h6>ID: {{parkingLotView.idFake}}</h6>
            </div>
            <div class="col-6">
              <span>Tầng: {{parkingLotView.nameFloor}}</span>
            </div>
            <div class="col-6">
              <h6 class="text-danger" *ngIf="parkingLotView.status">Trạng thái: Chưa có xe</h6>
              <h6 class="text-danger" *ngIf="!parkingLotView.status">Trạng thái: Đã có xe</h6>
            </div>
            <div class="col-6">
              <span>Khu vực: {{parkingLotView.nameZone}}</span>
            </div>
            <div class="col-6">
              <span>{{parkingLotView.carLicense}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="parkingLotView.status" type="button" class="btn btn-primary"
                data-dismiss="modal" (click)="saveParkingLotToCreateTicket(parkingLotView)">Đặt vé
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog opacity">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editModalLabel">Chỉnh sửa giao diện</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <table class="table table-light table-bordered">
            <thead>
            <tr>
              <th>Bản đồ</th>
              <td>chiều dài</td>
              <td>chiều rộng</td>
            </tr>
            </thead>
            <tr>
              <td></td>
              <td><input  class="width" type="number" (change)="changeSizeMap($event.target.value, 'w')" value="{{scrWidth}}"></td>
              <td><input class="width" type="number" (change)="changeSizeMap($event.target.value, 'h')" value="{{scrHeight}}"></td>
            </tr>
          </table>
        </div>
        <hr>
        <div>
          <table class="table table-light table-bordered">
            <thead>
            <tr>
              <th>khu vực</th>
              <th>X</th>
              <th>Y</th>
              <th>Chiều</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zone of zoneInFloor">
              <th><input class="w-75" (change)="changeZoneName(zone.id, $event.target.value)" type="text" value="{{zone.name}}"></th>
              <td><label>
                <input class="width" type="number" value="{{zone.positionX}}"
                       (change)="changePositionX(zone.id, $event.target.value)">
              </label></td>
              <td><label>
                <input class="width" type="number" value="{{zone.positionY}}"
                       (change)="changePositionY(zone.id, $event.target.value)">
              </label></td>
              <td><label>
                <select (change)="changeDirection(zone.id, $event.target.value)" [value]="zone.direction">
                  <option value="0">Dọc</option>
                  <option value="1">Ngang</option>
                </select>
              </label></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="mr-5">
          <button type="button" class="btn btn-secondary" (click)="scroll(-200)">page up</button>
          <button type="button" class="btn btn-secondary ml-3" (click)="scroll(200)">page down</button>
        </div>
        <button type="button" class="btn btn-secondary ml-5" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
