<div class="container-fluid">
  <div class="row text-white page-style align-items-center ">
    <div class="title col-6 mt-2">
      <h4 class="align-items-center">HỆ THỐNG QUẢN LÍ BÃI ĐỖ XE</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2 border-nav">
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-home fa-2x text-warning" aria-hidden="true"></i> Trang chủ</a>
      </div>
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> Quản lý nhân viên</a>
      </div>
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-users" aria-hidden="true"></i> Quản lí khách hàng</a>
      </div>
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-car" aria-hidden="true"></i> Quản lí xe ra / vào</a>
      </div>
      <div class="item-nav row main-color">
        <a class="link" href="#"><i class="fa fa-braille" aria-hidden="true"></i> Quản lí bãi đỗ</a>
      </div>
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-ticket" aria-hidden="true"></i> Quản lí vé</a>
      </div>
      <div class="item-nav row">
        <a class="link" href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Thống kê</a>
      </div>
    </div>
    <div class="col-8">
      <div class="row d-flex justify-content-center text-decoration-none">
        <div class="col-4">
          <a href="#"><h3>Quản lí xe</h3></a>
        </div>
        <div class="col-4">
          <a href="#"><h3>Sơ đồ trạng thái</h3></a>
        </div>
      </div>
      <div class="row">
        <canvas #canvas width="{{scrWidth}}" height="1000">
        </canvas>
      </div>
    </div>
    <div class="col-2">
      <!--      chỗ để item thu nhỏ của các tầng-->
    </div>
  </div>
</div>
<button id="view" hidden data-toggle="modal" data-target="#viewModal"></button>

<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="viewModalLabel">Thông tin vị trí đỗ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">
          <div class="row">
            <div class="col-6">
              <span>ID: {{parkingLotView.id}}</span>
            </div>
            <div class="col-6">
              <span>Tầng: {{parkingLotView.nameFloor}}</span>
            </div>
            <div class="col-6">
              <span>Khu vực: {{parkingLotView.nameZone}}</span>
            </div>
            <div class="col-6">
              <span>Trạng thái: {{parkingLotView.status}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="parkingLotView.status === 'Chưa có xe' && ticket !== null" type="button" class="btn btn-primary" data-dismiss="modal">Đặt vé</button>
      </div>
    </div>
  </div>
</div>

