<div class="p-0 m-0">

  <div class="main-list shadow pb-md-5 pl-md-5 pr-md-5 pt-md-1">
    <br>
    <h2>THÊM KHÁCH HÀNG</h2>
    <!---->
    <br>
    <form class="ml-5" [formGroup]="customerForm" (ngSubmit)="customerSubmit()">
      <div class="form-row">
        <!--Họ tên, Ngày sinh, Giới tính-->
        <div class="form-group col-md-4">
          <label [hidden]="(customerForm.controls.nameCustomer.errors?.required &&
                    customerForm.controls.nameCustomer.touched)||
          (customerForm.controls.nameCustomer.errors?.pattern &&
                    customerForm.controls.nameCustomer.touched)">Họ tên</label>
          <label *ngIf="customerForm.controls.nameCustomer.errors?.required &&
                    customerForm.controls.nameCustomer.touched" class="text-danger">
            Họ tên không được để trống</label>
          <label class="notice"
                 *ngIf="customerForm.controls.nameCustomer.errors?.pattern &&
                    customerForm.controls.nameCustomer.touched">
            Họ tên không được chứa kí tự đặc biệt</label>
          <input type="text" class="form-control" id="name" placeholder="Họ tên không chứa kí tự đặc biệt"
                 formControlName="nameCustomer">
        </div>
        <div class="form-group col-md-4">
          <label [hidden]="(customerForm.controls.birthday.errors?.required &&
                    customerForm.controls.birthday.touched)||
          (customerForm.controls.birthday.errors?.pattern &&
                    customerForm.controls.birthday.touched)">Ngày sinh</label>
          <label *ngIf="customerForm.controls.birthday.errors?.required &&
                    customerForm.controls.birthday.touched" class="text-danger">
            Ngày sinh không được để trống</label>
          <label class="notice"
                 *ngIf="customerForm.controls.birthday.errors?.pattern &&
                    customerForm.controls.birthday.touched">
            Ngày sinh theo định dạng yyyy-MM-dd</label>
          <input type="text" class="form-control" id="birthday"
                 placeholder="yyyy-MM-dd" formControlName="birthday">
        </div>
        <div class="form-group col-md-4">
          <div>Giới tính</div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Nam" formControlName="Nam">
            <label class="form-check-label" for="inlineRadio1">Nam</label>
          </div>
          <div class="form-check form-check-inline tbl-gender">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Nữ" formControlName="Nữ">
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
          </div>
        </div>
      </div>
      <!--      CMND, SĐT, EMAIL-->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label [hidden]="(customerForm.controls.idCard.errors?.required &&
                    customerForm.controls.idCard.touched)||
          (customerForm.controls.idCard.errors?.pattern &&
                    customerForm.controls.idCard.touched)">CMND</label>
          <label *ngIf="customerForm.controls.idCard.errors?.required &&
                    customerForm.controls.idCard.touched" class="text-danger">
            CMND không được để trống</label>
          <label class="notice"
                 *ngIf="customerForm.controls.idCard.errors?.pattern &&
                    customerForm.controls.idCard.touched">
            CMND có 9 chữ số</label>
          <input type="text" class="form-control" placeholder="CMND có 9 chữ số" formControlName="idCard">
        </div>
        <div class="form-group col-md-4">
          <label [hidden]="(customerForm.controls.phone.errors?.required &&
                    customerForm.controls.phone.touched)||
          (customerForm.controls.phone.errors?.pattern &&
                    customerForm.controls.phone.touched)">Số điện thoại</label>
          <label *ngIf="customerForm.controls.phone.errors?.required &&
                    customerForm.controls.phone.touched" class="text-danger">
            Số điện thoại không được để trống</label>
          <label class="notice"
                 *ngIf="customerForm.controls.phone.errors?.pattern &&
                    customerForm.controls.phone.touched">
            Số điện thoại phải đúng định dạng 09xxxxxxxx hoặc 08xxxxxxxx </label>
          <input type="text" class="form-control" placeholder="SĐT 09, 08"
                 formControlName="phone">
        </div>
        <div class="form-group col-md-4">
          <label [hidden]="(customerForm.controls.email.errors?.required &&
                    customerForm.controls.email.touched)||
          (customerForm.controls.email.errors?.pattern &&
                    customerForm.controls.email.touched)">Email</label>
          <label *ngIf="customerForm.controls.email.errors?.required &&
                    customerForm.controls.email.touched" class="text-danger">
            Email không được để trống</label>
          <label class="notice"
                 *ngIf="customerForm.controls.email.errors?.pattern &&
                    customerForm.controls.email.touched">
            Email phải đúng định dạng acb@def.com</label>
          <input type="text" class="form-control" placeholder="Email có dạng acb@def.com"
                 formControlName="email">
        </div>
      </div>
      <!--      Địa chỉ-->
      <div class="form-group">
        <label [hidden]="(customerForm.controls.address.errors?.required &&
                    customerForm.controls.address.touched)">Địa chỉ</label>
        <label class="notice" *ngIf="customerForm.controls.address.errors?.required &&
                    customerForm.controls.address.touched" class="text-danger">
          Địa chỉ không được để trống</label>
        <input type="text" class="form-control" placeholder="Nhập địa chỉ ..." formControlName="address">
      </div>
    </form>
    <br>

    <!--    -->
    <h2>THÊM XE KHÁCH HÀNG</h2>
    <br>
    <form [formGroup]="carForm">
      <div class="row">
        <table class="table table-bordered">
          <thead>
          <tr class="title-customer bg-info mt-md-0">
            <th class="text-danger border-danger text-center" *ngIf="carForm.controls.type.errors?.required &&
                    carForm.controls.type.touched">
              NHẬP KIỂU XE</th>
            <th class="text-center" [hidden]="(carForm.controls.type.errors?.required &&
                    carForm.controls.type.touched)">
              KIỂU XE
            </th>
            <th class="text-danger border-danger text-center" *ngIf="carForm.controls.producer.errors?.required &&
                    carForm.controls.producer.touched">
              NHẬP HÃNG XE</th>
            <th class="text-center" [hidden]="(carForm.controls.producer.errors?.required &&
                    carForm.controls.producer.touched)">
              HÃNG XE
            </th>
            <th class="text-danger border-danger text-center" *ngIf="carForm.controls.color.errors?.required &&
                    carForm.controls.color.touched">
              NHẬP MÀU XE</th>
            <th class="text-center" [hidden]="(carForm.controls.color.errors?.required &&
                    carForm.controls.color.touched)">
              MÀU XE
            </th>
            <th class="text-danger border-danger text-center" *ngIf="carForm.controls.license.errors?.required &&
                    carForm.controls.license.touched">
              NHẬP BIỂN SỐ</th>
            <th class="text-center" [hidden]="(carForm.controls.license.errors?.required &&
                    carForm.controls.license.touched)">
              BIỂN SỐ
            </th>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập kiểu xe..." formControlName="type">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập hãng xe..." formControlName="producer">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập màu xe..." formControlName="color">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập biển số..." formControlName="license">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <button type="submit" [disabled]="customerForm.invalid&&carForm.invalid" class="btn-save btn btn-success "
                (click)="submitAll()">Lưu
        </button>
      </div>
    </div>
  </div>
</div>


