<div class="container mt-md-5">
  <div class="main-list rounded shadow p-md-5">
    <br>
    <h2>THÊM KHÁCH HÀNG</h2>
    <!---->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Họ tên:
          </div>
          <div class="input-info col-md-6 ml-md-1">
            <input type="text" class="form-control" placeholder="Nhập họ tên...">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Ngày sinh:
          </div>
          <div class="col-md-6 ml-md-1">
            <input type="text" class="form-control" placeholder="Nhập ngày sinh...">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Giới tính:
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Nhập giới tính...">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Số điện thoại:
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control"
                   placeholder="Nhập số điện thoại...">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-info col-md-1">
        Địa chỉ:
      </div>
      <div class="col-md-9 ml-5">
        <input type="text" class="form-control" placeholder="Nhập địa chỉ...">
      </div>
    </div>
    <!--    -->
    <br>
    <h2>THÊM XE KHÁCH HÀNG</h2>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr class="title-customer bg-info mt-md-0">
          <th class="text-center">TÊN XE</th>
          <th class="text-center">HÃNG XE</th>
          <th class="text-center">MÀU XE</th>
          <th class="text-center">BIỂN SỐ</th>
          <th class="text-center" colspan="2">XÁC NHẬN</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            <input type="text" class="form-control" class="customer" placeholder="Nhập tên xe...">
          </td>
          <td class="text-center">
            <input type="text" class="form-control" class="customer" placeholder="Nhập hãng xe...">
          </td>
          <td class="text-center">
            <input type="text" class="form-control" class="customer" placeholder="Nhập màu xe...">
          </td>
          <td class="text-center">
            <input type="text" class="form-control" class="customer" placeholder="Nhập biển số...">
          </td>
          <td class="text-center" colspan="2">
            <button class="btn-creat btn btn-success">Thêm</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <button class="btn-save btn btn-success">Lưu</button>

        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Bạn có muốn xoá không?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger">Xoá</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal xoá-->
<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>
