<div class="container-fluid p-0 m-0">
  <form class="ml-5" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="main-list shadow pb-md-5 pl-md-5 pr-md-5 pt-md-1">
      <br>
      <h2>THÊM KHÁCH HÀNG</h2>
      <!---->
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="input-info col-md-3">
              Họ tên:
            </div>
            <div class="input-info col-md-7 ml-md-1">
              <div class="notice"
                   *ngIf="customerForm.get('nameCustomer').invalid && customerForm.get('nameCustomer').touched">
                Name invalid!
              </div>
              <input type="text" class="form-control" placeholder="Nhập họ tên..." formControlName="nameCustomer">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-info col-md-3">
              Ngày sinh:
            </div>
            <div class="col-md-7 ml-md-1">
              <div class="notice"
                   *ngIf="customerForm.get('birthday').invalid && customerForm.get('birthday').touched">
                Birthday invalid!
              </div>
              <input type="text" class="form-control" placeholder="Nhập ngày sinh..." formControlName="birthday">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-info col-md-3">
              Địa chỉ:
            </div>
            <div class="col-md-7">
              <div class="notice ml-md-1"
                   *ngIf="customerForm.get('address').invalid && customerForm.get('address').touched">
                Address invalid!
              </div>
              <input type="text" class="form-control ml-md-1" placeholder="Nhập địa chỉ..." formControlName="address">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="input-info col-md-4">
              Giới tính:
            </div>
            <div class="col-md-7">
              <div class="notice"
                   *ngIf="customerForm.get('gender').invalid && customerForm.get('gender').touched">
                Gender invalid!
              </div>
              <!--            <input type="text" class="form-control" placeholder="Nhập giới tính..." formControlName="gender">-->
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio" checked>Nam
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Nữ
                </label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-info col-md-4">
              Số điện thoại:
            </div>
            <div class="col-md-7">
              <div class="notice"
                   *ngIf="customerForm.get('phone').invalid && customerForm.get('phone').touched">
                Phone number invalid!
              </div>
              <input type="text" class="form-control"
                     placeholder="Nhập số điện thoại..." formControlName="phone">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-info col-md-4">
              Email:
            </div>
            <div class="col-md-7">
              <div class="notice"
                   *ngIf="customerForm.get('email').invalid && customerForm.get('email').touched">
                Email invalid!
              </div>
              <input type="text" class="form-control" placeholder="Nhập email..." formControlName="email">
            </div>
          </div>
        </div>
      </div>
      <br>
      <!--    -->
      <h2>THÊM XE KHÁCH HÀNG</h2>
      <br>
      <div class="row">
        <table class="table table-bordered">
          <thead>
          <tr class="title-customer bg-info mt-md-0">
            <th class="text-center">KIỂU XE</th>
            <th class="text-center">HÃNG XE</th>
            <th class="text-center">MÀU XE</th>
            <th class="text-center">BIỂN SỐ</th>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập kiểu xe..." formControlName="type">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập hãng xe..." formControlName="producer">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập màu xe..." formControlName="color">
            </td>
            <td class="text-center">
              <input type="text" class="form-control" placeholder="Nhập biển số..." formControlName="license">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn-save btn btn-success">Lưu</button>
        </div>
      </div>
    </div>
  </form>
</div>


