<div class="container-fluid p-0">
  <div class="main-area d-flex justify-content-center align-items-center">
    <div class="main-list rounded shadow-lg">
      <div class="row p-0 m-0 d-flex align-items-center main-title">
        <div class="col-6 p-3 m-0">
          <h1>DANH SÁCH VÉ</h1>
        </div>
        <div class="col-6 p-0 m-0">
          <div class="input-group w-75">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>            
            </div>
            <input type="text" class="form-control" placeholder="Nhập từ khoá...">
            <button class="btn btn-danger ml-4 shadow plus">Tìm kiếm</button>
            <button class="btn btn-success ml-4 shadow plus">Thêm mới 
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <table class="table main-table">
          <thead>
            <tr>
              <th class="text-center border-top-0">ID VÉ</th>
              <th class="text-center border-top-0">ID XE</th>
              <th class="text-center border-top-0">TÊN KHÁCH HÀNG</th>
              <th class="text-center border-top-0">NGÀY BẮT ĐẦU</th>
              <th class="text-center border-top-0">NGÀY KẾT THÚC</th>
              <th class="text-center border-top-0">TẦNG</th>
              <th class="text-center border-top-0">VỊ TRÍ</th>
              <th class="text-center border-top-0">LOẠI VÉ</th>
              <th class="text-center border-top-0">GIÁ</th>
              <th class="text-center border-top-0" colspan="2">TÁC VỤ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">43A-1907</td>
              <td class="text-center">Phạm Anh Thiện</td>
              <td class="text-center">21/10/2020</td>
              <td class="text-center">25/10/2020</td>
              <td class="text-center">2</td>
              <td class="text-center">B-20</td>
              <td class="text-center">Vip(năm)</td>
              <td class="text-center">900000đ</td>
              <td class="text-center">
                <a class="border-0 text-info action-icon">
                  <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td class="text-center">
                <a class="border-0 text-danger action-icon">
                  <i class="fa fa-2x fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">43A-1907</td>
              <td class="text-center">Phạm Anh Thiện</td>
              <td class="text-center">21/10/2020</td>
              <td class="text-center">25/10/2020</td>
              <td class="text-center">2</td>
              <td class="text-center">B-20</td>
              <td class="text-center">Vip(năm)</td>
              <td class="text-center">900000đ</td>
              <td class="text-center">
                <a class="border-0 text-info action-icon">
                  <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td class="text-center">
                <a class="border-0 text-danger action-icon">
                  <i class="fa fa-2x fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">43A-1907</td>
              <td class="text-center">Phạm Anh Thiện</td>
              <td class="text-center">21/10/2020</td>
              <td class="text-center">25/10/2020</td>
              <td class="text-center">2</td>
              <td class="text-center">B-20</td>
              <td class="text-center">Vip(năm)</td>
              <td class="text-center">900000đ</td>
              <td class="text-center">
                <a class="border-0 text-info action-icon">
                  <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
              <td class="text-center">
                <a class="border-0 text-danger action-icon">
                  <i class="fa fa-2x fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="d-flex justify-content-center w-100 paging">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
