<div class="container-fluid p-0 m-0">
  <div class="main-list shadow pb-md-5 pl-md-5 pr-md-5 pt-md-1">
    <br>
    <h2>THÔNG TIN KHÁCH HÀNG</h2>
    <br>
    <!---->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Họ tên:
          </div>
          <div class="input-info col-md-6 ml-md-1">
            <input disabled type="text" class="form-control" placeholder="Lê Thanh Tùng">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Ngày sinh:
          </div>
          <div class="col-md-6 ml-md-1">
            <input disabled type="text" class="form-control disabled" placeholder="13/05/1989">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Giới tính:
          </div>
          <div class="col-md-6">
            <input disabled type="text" class="form-control disabled" placeholder="Nam">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Số điện thoại:
          </div>
          <div class="col-md-6">
            <input disabled type="text" class="form-control disabled"
                   placeholder="0898241303">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-info col-md-1">
        Địa chỉ:
      </div>
      <div class="col-md-9 ml-5">
        <input disabled type="text" class="form-control disabled" placeholder="28 Ngô Xuân Thu - Liên Chiểu - Đà Nẵng">
      </div>
    </div>
    <!--    -->
    <br>
    <h2>XE KHÁCH HÀNG</h2>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr class="title-customer bg-info mt-md-0">
          <th class="text-center">TÊN XE</th>
          <th class="text-center">HÃNG XE</th>
          <th class="text-center">MÀU XE</th>
          <th class="text-center">BIỂN SỐ</th>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">C250</td>
          <td class="text-center">MERCEDES</td>
          <td class="text-center">Black</td>
          <td class="text-center">43C1-049.47</td>
        </tr>
        <tr>
          <td class="text-center">Mazda3</td>
          <td class="text-center">MAZDA</td>
          <td class="text-center">Red</td>
          <td class="text-center">43AA-567.89</td>
        </tr>
        <tr>
          <td class="text-center">Camry</td>
          <td class="text-center">TOYOTA</td>
          <td class="text-center">Silve</td>
          <td class="text-center">43D1-068.68</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <button href="#" class="btn-close btn btn-success">Đóng</button>
      </div>
    </div>
  </div>
</div>
