<div class="p-0 m-0">
  <div class="main-list shadow pb-md-5 pl-md-5 pr-md-5 pt-md-1">
    <br>
    <h2>THÔNG TIN KHÁCH HÀNG</h2>
    <br>
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Họ tên</label>
          <input disabled type="text" class="form-control" id="name" placeholder="{{customer.nameCustomer}}">
        </div>
        <div class="form-group col-md-4">
          <label for="birthday">Ngày sinh</label>
          <input disabled type="text" class="form-control" id="birthday"
                 placeholder="{{customer.birthday| date: 'dd/MM/yyyy'}}">
        </div>
        <div class="form-group col-md-4">
          <label for="gender">Giới tính</label>
          <input disabled type="text" class="form-control" id="gender" placeholder="{{customer.gender}}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="idCard">CMND</label>
          <input disabled type="text" class="form-control" id="idCard" placeholder="{{customer.idCard}}">
        </div>
        <div class="form-group col-md-4">
          <label for="phone">Số điện thoại</label>
          <input disabled type="text" class="form-control" id="phone" placeholder="{{customer.phone}}">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input disabled type="text" class="form-control" id="email" placeholder="{{customer.email}}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Địa chỉ</label>
        <input disabled type="text" class="form-control" id="inputAddress" placeholder="{{customer.address}}">
      </div>
    </form>
    <!--    -->
    <br>
    <h2>XE KHÁCH HÀNG</h2>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr class="title-customer bg-info mt-md-0">
          <th class="text-center">KIỂU XE</th>
          <th class="text-center">HÃNG XE</th>
          <th class="text-center">MÀU XE</th>
          <th class="text-center">BIỂN SỐ</th>
        </thead>
        <tbody>
        <tr *ngFor="let car of carList ">
          <td class="text-center">{{car.type}}</td>
          <td class="text-center">{{car.producer}}</td>
          <td class="text-center">{{car.color}}</td>
          <td class="text-center">{{car.license}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <a href="/list-customer" class="btn-close btn btn-success">Đóng</a>
      </div>
    </div>
  </div>
</div>
