<div class="container-fluid p-0 m-0 d-inline-block">
  <div class="main-list shadow pb-md-5 pl-md-5 pr-md-5 pt-md-1">
    <br>
    <h2>THÔNG TIN KHÁCH HÀNG</h2>
    <br>
    <!---->
    <div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Họ tên:
          </div>
          <div class="input-info col-md-6 ml-md-1">
            <input disabled type="text" class="form-control" placeholder="{{customer.nameCustomer}}">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Ngày sinh:
          </div>
          <div class="col-md-6 ml-md-1">
            <input disabled type="text" class="form-control disabled" placeholder="{{customer.birthday}}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="input-info col-md-3">
            Giới tính:
          </div>
          <div class="col-md-6">
            <input disabled type="text" class="form-control disabled" placeholder="{{customer.gender}}">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-info col-md-3">
            Số điện thoại:
          </div>
          <div class="col-md-6">
            <input disabled type="text" class="form-control disabled"
                   placeholder="{{customer.phone}}">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-info col-md-1">
        Địa chỉ:
      </div>
      <div class="col-md-9 address">
        <input disabled type="text" class="form-control disabled" placeholder="{{customer.address}}">
      </div>
    </div>
    </div>
    <!--    -->
    <br>
    <h2>XE KHÁCH HÀNG</h2>
    <br>
    <div class="row">
      <table class="table table-bordered">
        <thead>
        <tr class="title-customer bg-info mt-md-0">
          <th class="text-center">KIỂU XE</th>
          <th class="text-center">HÃNG XE</th>
          <th class="text-center">MÀU XE</th>
          <th class="text-center">BIỂN SỐ</th>
        </thead>
        <tbody>
        <tr *ngFor="let car of arrCar">
<!--          <th scope="row">{{car[0]}}</th>-->
          <td class="text-center">{{car.type}}</td>
          <td class="text-center">{{car.producer}}</td>
          <td class="text-center">{{car.color}}</td>
          <td class="text-center">{{car.license}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-4">
        <a href='/list-customer' class="btn-close btn btn-success">Đóng</a>
      </div>
    </div>
  </div>
</div>
