.main-area {
  background-color: #ccc;
  height: 100vh;
}
.main-list {
  width: 95%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: auto;
}

.main-table thead th {
  background: teal;
  color: #fff
}
.main-table tr {
  transition: all .3s;
}

.main-table tr:hover {
  background: lightblue;
}

.action-icon {
  cursor: pointer;
}

.main-title {
  background: teal;
  color: #fff;
  
}

.page-link {
  color: black;
}

.plus {
  transition: all .4s;
}

.plus:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px grey;
}

.modal-header {
  background: teal;
  color: #fff;
  font-size: 2em;
}

.modal-body img {
  width: 10%;

} 

.modal-content {
  box-shadow: 15px 15px 30px rgb(58, 58, 58);
  font-size: 1.5em;
}

h1 {
  display: contents;
}