
<div class="container-fluid">
  <div class="row">
    <div class="col-md-11  ml-5 mt-5 mb-2 m-0 p-0">
      <ul class="nav justify-content-center col-nav ">
        <li class="nav-item color-nav">
          <a class="nav-link active" (click)="reload()">Cập nhật lại</a>
        </li>
        <li class="nav-item color-nav">
          <a class="nav-link" [routerLink]="'statisticalByDate'">Thống kê theo ngày,tháng,năm</a>
        </li>


      </ul>
    </div>


  </div>
  <div class="row mt-2">
    <div class="col-md-8 ml-5 mr-3 mb-5 left">
      <h1 class="mt-2" style="text-align: center">Thống kê loại phương tiện</h1>
      <p style="text-align: center">Các hãng xe thông dụng hiện nay tại bãi</p>
      <div class="chia-cot">
<!--        <div class="col-md-4 mt-5">-->
<!--          <div class="note1"  id="myLegend"></div>-->
<!--        </div>-->

<!--        <div class="col-md-2">-->
<!--          <canvas class="note" id="myCanvas"></canvas>-->
<!--        </div>-->
        <canvas id="pieChart">

        </canvas>
      </div>
    </div>


    <div class="col-md-3 ">
      <div class="col-md-12  col-on">
        <h4 style="text-align: center">Thống kê hệ thống</h4>
        <p style="text-align: center">Dữ liệu thống kê tổng hợp của hệ thống</p>
        <div>
          <label>Số lượng khách hàng : </label>
          <span>{{countCustomer}}</span>
          <hr>
        </div>

        <div>
          <label>Số lượng nhân viên : </label>
          <span>{{this.userCount}}</span>
          <hr>
        </div>

        <div>
          <label>Số lượng xe : </label>
          <span>{{this.countCar}}</span>
          <hr>
        </div>

        <div>
          <label>Số lượng vị trí đổ : </label>
          <span>{{this.countParkingLot}}</span>
          <hr>
        </div>

        <div>
          <label>Số lượng vé hiện tại : </label>
          <span>{{this.countTicket}}</span>
          <hr>
        </div>

      </div>

      <div class="col-md-12 mt-4-2 mb-5 col-bellow">
        <h4>Phiên bản hệ thống</h4>
        <p>Phiên hiện tại v1.0.0 . Cập nhật lần cuối 20-10-2020 </p>
      </div>
    </div>
  </div>
</div>
