<div class="container-fluid w-50 border-main shadow">
  <div class="row justify-content-center bg">
    <h3 class="text-warning p-5">
      Chỉnh sửa vị trí đỗ
    </h3>
  </div>
  <form *ngIf="editParkingLotForm" [formGroup]="editParkingLotForm" (ngSubmit)="editParkingLot()" class="text-light">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-4 text-right">
            Tầng
          </div>
          <div class="col-8">
            <label>
              <select formControlName="idFloor" (change)="switchFloor($event.target.value)">
                <option *ngFor="let floor of listFloor" value="{{floor.id}}">{{floor.name}}</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4 text-right">
            Vị trí
          </div>
          <div class="col-8">
            <label>
              <select formControlName="idZone">
                <option *ngFor="let zone of listZoneShow" value="{{zone.id}}">{{zone.name}}</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4 text-right">
            Trạng Thái
          </div>
          <div class="col-8">
            <label>
              <select formControlName="status">
                <option value="false">Đã có xe</option>
                <option value="true">Chưa có xe</option>
              </select>
            </label>
          </div>
        </div>
      </div>
      <div class="col-6" hidden>
        <div class="row">
          <div class="col-4 text-right">
            ID
          </div>
          <div class="col-8">
            <label>
              <input formControlName="id">
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3 mb-3">
        <div class="row">
          <div class="col-4">Loại xe cho phép: </div>
          <div class="col-8">
            <div class="row">
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> 4 chỗ</div>
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> bán tải</div>
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> tải 500kg</div>
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> 7 chỗ</div>
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> 9 chỗ</div>
              <div class="col-4"><label>
                <input class="box" type="checkbox">
              </label> khác</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <button class="btn btn-outline-info custom">Chỉnh sửa</button>
      <button class="btn btn-outline-danger custom ml-3" [routerLink]="['../../listParkingLot']">Trở lại</button>
    </div>
  </form>
</div>
