<div class="col-10">
<div class="row">
  <div class="col-4">
    <h3 class="text-secondary">Danh sách bãi xe</h3>
  </div>
  <div class="col-8">
    <button class="button-custom" [routerLink]="['../addParkingLot']">Thêm vị trí mới</button>
    <label>
      <input class="input-custom" placeholder="Tìm kiếm ... ">
    </label>
    <button class="button-custom bg-info" [routerLink]="['../parkingMap']">Bản đồ bãi đỗ</button>
  </div>
</div>
<div class="row text-secondary">
  <div class="col">
    <h5 class="ml-3">
      <label>
        Tầng:
        <select class="pl-2" (change)="filterByFloor($event.target.value)">
          <option value="none">Tất cả</option>
          <option *ngFor="let f of floorList" value="{{f.name}}">{{f.name}}</option>
        </select>
      </label>
      <button class="btn ml-2 bg-secondary text-white height">
        <h6><i class="fa fa-plus" aria-hidden="true" data-toggle="modal" data-target="#addModal"> Thêm tầng</i></h6>
      </button>
    </h5>
  </div>
</div>
<div class="row">
  <table class="table table-bordered mt-4 text-center">
    <thead class="text-white bg-secondary">
    <tr>
      <th>#</th>
      <th>Vị trí</th>
      <th>Tầng</th>
      <th>Tình Trạng</th>
      <th>Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="listParkingLotShow.length === 0" class="text-danger">Tầng không có dữ liệu !</tr>
    <tr *ngFor="let par of listParkingLotShow | paginate: {
          id: 'listing_pagination',
          itemsPerPage: 8,
          currentPage: currentPage,
          totalItems: totalItem}">
      <th>{{par.id}}</th>
      <td>{{par.nameZone + '-' + par.id}}</td>
      <td>{{par.nameFloor}}</td>
      <td *ngIf="par.status">Chưa có xe</td>
      <td *ngIf="!par.status">Đã có xe</td>
      <td>
        <a class="text-danger m-3" data-toggle="modal" data-target="#deleteModal" (click)="checkDelete(par)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
        <a class="text-danger" [routerLink]="['../editParkingLot/' + par.id]"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row justify-content-center">
  <pagination-controls *ngIf="totalItem > 7" class="paginator" id="listing_pagination" maxSize="5" directionLinks="true"
                       (pageChange)="currentPage = $event"></pagination-controls>
</div>
</div>

<!--xóa-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteModalLabel">Thông báo xóa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">bạn có chắc muốn xóa: {{deleteItem.nameZone + '-' + deleteItem.id}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="delete()" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!--thêm tầng-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addModalLabel">Thêm tầng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Danh sách các khu vực trong tầng</div>
        <div class="row">
          <div class="col-8">
            <span>Số lượng khu: <input #count type="number" value="1" min="1"></span>
          </div>
          <div class="col-4">
            <input type="submit" value="xác nhận" (click)="prepareListZone(count.value)">
          </div>
        </div>
        <div class="row">
          <span *ngIf="isDone" class="text-danger mt-2">*các trường để trống tự tạo dữ liệu tự động</span>
          <label class="ml-3" *ngFor="let zone of listZoneAdd, index as i" >
            Điền tên khu thứ {{i + 1}}: <input class="mt-2" (change)="zone.name = $event.target.value" placeholder="Tên khu vực">
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="save()" class="btn btn-primary" data-dismiss="modal" [disabled]="!isDone">Confirm</button>
      </div>
    </div>
  </div>
</div>
