<div class="row">
  <div class="col-6">
    <h3 class="text-secondary p-3">Thông báo</h3>
  </div>
  <div class="col-6">
    <button class="button-custom">Tạo thông báo</button>
    <input class="input-custom" placeholder="Tìm kiếm ... ">
  </div>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <!--                <table class="table table-striped mb-0 ">-->
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
  <div class="alert alert-warning p-5 mb-3" role="alert">coming soon.....  </div>
</div>
